{% extends 'layout.html' %}


{% block title %}
    Home
{% endblock title %}
    

{% block content %}
    <div style="margin-bottom: 20px;">
        <a href="{% url 'add' %}" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition">Add Task</a>
    </div>
    {% for data in data %}
           <div style="display: flex; align-items: center; margin-bottom: 10px;">
              <h1 style="margin-right: 20px;">{{data.id}}-{{data.title}}-{{data.created_at}}</h1>
              <a href="{% url 'edit' data.id %}" class="bg-yellow-500 text-white px-3 py-1 rounded hover:bg-yellow-600 transition">Edit</a>
              <form action="{% url 'delete' data.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button
                        type="submit"
                        class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600 transition">
                        Delete
                    </button>
              </form>

           </div>
    {% endfor %}
{% endblock content %}
    
    
    
        
